<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"><title>湖北经济学院信息与通信工程学院软件Q1842杨开</title>
		<script src="static/js/html5shiv.js" th:src="@{/js/html5shiv.js}" ></script>
		<script src="static/static/js/respond.js" th:src="@{/js/respond.js}"></script>
		<link href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
		<link href="static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
		<link href="static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet">
		<link rel="shortcut icon" href="static/picture/favicon.png" th:href="@{/picture/favicon.png}" type="image/x-icon"><!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	</head>
	<body>
		<div class="page-wrapper">
			<!-- Preloader -->
			<div th:replace="../templates/fragments/header::dashboard-top"></div>
			<!--End Main Header -->
			<!--Page Title-->
			<section class="page-title">
				<div class="auto-container">
					<!-- Job Search Form -->
					<div class="job-search-form">
						<form method="post" th:action="@{/company/searchcompanylist}">
							<div class="row">
								<!-- Form Group -->
								<div class="form-group col-lg-4 col-md-12 col-sm-12"><span class="icon flaticon-search-1"></span><input type="text"
									 name="field_name" placeholder="公司名称，关键字"></div><!-- Form Group -->
								<div class="form-group col-lg-3 col-md-12 col-sm-12 location"><span class="icon flaticon-map-locator"></span><input
									 type="text" name="field_city" placeholder="公司所在城市"></div><!-- Form Group -->
								<div class="form-group col-lg-3 col-md-12 col-sm-12 location">
									<span class="icon flaticon-briefcase"></span>
									<select class="chosen-select" name="field_companynumber">
										<option value="不限">不限</option>
										<option value="已上市">公司已上市</option>
										<option value="未上市">公司未上市</option>
									</select></div><!-- Form Group -->
								<div class="form-group col-lg-2 col-md-12 col-sm-12 text-right"><button type="submit" class="theme-btn btn-style-one">寻找公司</button></div>
							</div>
						</form>
					</div><!-- Job Search Form -->
				</div>
			</section>
			<!--End Page Title-->
			<!-- Listing Section -->
			<section class="ls-section">
				<div class="auto-container">
					<div class="filters-backdrop"></div>
					<div class="row" >
						<!-- Content Column -->
						<div class="content-column col-lg-12 col-md-12 col-sm-12">
							<div class="ls-outer"><button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button><!-- ls Switcher -->
								<div class="ls-switcher">
									<div class="showing-result" id="showpagedata">
										<div class="text">展示<strong th:text="${session.companylistIPage.total}"></strong>家公司的 <strong th:text="${session.companylistIPage.current - 1} * ${session.companylistIPage.size} + 1 + ' - ' +
																																	${session.companylistIPage.current * session.companylistIPage.size}"></strong>家</div>
									</div>
									<div class="sort-by">

										<!--有关companylist的分页信息-->
										<input type="hidden" th:value="${session.companylistIPage.current}" id="companypagecurrent">
										<input type="hidden" th:value="${session.companylistIPage.size}" id="companypagesize">

										<select class="chosen-select" id="changecompanypagesize">
											<option value="12">展示12条数据</option>
											<option value="16">展示16条数据</option>
											<option value="20">展示20条数据</option>
											<option value="24">展示24条数据</option>
											<option value="28">展示28条数据</option>
											<option value="32">展示32条数据</option>
										</select></div>
								</div>
								<input type="hidden" th:value="${session.issearch}" id="issearch">
								<div class="row" id="companypage">
									<!-- Company Block Four -->
									<div th:each="company:${session.companylistIPage.records}" class="company-block-four col-xl-3 col-lg-4 col-md-6 col-sm-12">
										<div class="inner-box">
											<button class="bookmark-btn">
											<span class="flaticon-bookmark"></span>
											</button>
											<span class="company-logo"><img th:src="${company.company_picture}" alt=""></span>
											<h4><a th:href="@{'/company/company_detail/' + ${company.company_id}}" th:text="${company.company_name}"></a></h4>
											<ul class="job-info">
												<li><span class="icon flaticon-map-locator"></span><div th:text="${company.company_location}"></div></li>
												<li><span class="icon flaticon-briefcase"></span><div th:text="${company.company_number}"></div></li>
											</ul>
											<div class="job-type" th:text="${company.company_jobs} + '个工作岗位'"></div>
										</div>
									</div>

								</div><!-- Pagination -->
								<nav th:if="${session.issearch == 0}" class="ls-pagination mb-5">
									<ul th:with="pages=${session.companylistIPage.pages},current=${session.companylistIPage.current}">
										<li class="prev" th:if="${current != 1}">
											<a href="#"
											   th:href="'/company/companylist/' + ${session.companylistIPage.current - 1} + '/' + ${session.companylistIPage.size}">
												<i class="fa fa-arrow-left"></i></a></li>
										<li th:if="${pages<10}" th:each="i:${#numbers.sequence(1,pages)}">
											<a th:if="${session.companylistIPage.current != i}"
											   th:href="'/company/companylist/' + ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
											<a th:if="${session.companylistIPage.current == i}" class="current-page"
											   th:href="'/company/companylist/' + ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
										</li>
										<li th:if="${pages>10}"
											th:each="i:${#numbers.sequence(1,3)}">
											<a th:if="${session.companylistIPage.current != i}"
											   th:href="''/company/companylist/' +${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
											<a th:if="${session.companylistIPage.current == i}" class="current-page"
											   th:href="'/company/companylist/' +${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
										</li>
										<li th:if="${pages>10 && current == 3}">
											<a
													th:href="'/company/companylist/' + 4 + '/' + ${session.companylistIPage.size}"
													th:text="4"></a>
										</li>
										<li th:if="${pages>10 && current == 4}">
											<a class="current-page"
											   th:href="'/company/companylist/' + 4 + '/' + ${session.companylistIPage.size}"
											   th:text="4"></a>
										</li>
										<li th:if="${pages>10 && current == 4}">
											<a
													th:href="'/company/companylist/' + 5 + '/' + ${session.companylistIPage.size}"
													th:text="5"></a>
										</li>
										<li th:if="${pages>10}">
											...
										</li>
										<li th:if="${pages>10  && current >= 5 && pages - current >= 4}"
											th:each="i:${#numbers.sequence(current - 1,current + 1)}">
											<a th:if="${session.companylistIPage.current != i}"
											   th:href="'/company/companylist/'+ ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
											<a th:if="${session.companylistIPage.current == i}" class="current-page"
											   th:href="'/company/companylist/' + ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
										</li>
										<li th:if="${pages>10  && current >= 5 && pages - current >= 5}">
											...
										</li>
										<li th:if="${pages>10 &&  pages - current == 3}">
											<a
													th:href="'/company/companylist/'+ ${current - 1} + '/' + ${session.companylistIPage.size}"
													th:text="${current - 1}"></a>
										</li>
										<li th:if="${pages>10 &&  pages - current == 3}">

											<a class="current-page"
											   th:href="'/company/companylist/' + ${current} + '/' + ${session.companylistIPage.size}"
											   th:text="${current}"></a>
										</li>
										<li th:if="${pages>10 && pages - current == 2}">
											<a
													th:href="'/company/companylist/' + ${current - 1} + '/' + ${session.companylistIPage.size}"
													th:text="${current - 1}"></a>
										</li>
										<li th:if="${pages>10}"
											th:each="i:${#numbers.sequence(pages - 2, pages)}">
											<a th:if="${session.companylistIPage.current != i}"
											   th:href="'/company/companylist/' + ${i}+ '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
											<a th:if="${session.companylistIPage.current == i}" class="current-page"
											   th:href="'/company/companylist/' + ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
										</li>
										<li class="next" th:if="${current != pages}"><a
												th:href="'/company/companylist/' + ${session.companylistIPage.current + 1}  + '/' + ${session.companylistIPage.size}"
												class="fa fa-arrow-right"></i></a>
										</li>
									</ul>
								</nav>
								<nav th:if="${session.issearch == 1}" class="ls-pagination mb-5">
									<ul th:with="pages=${session.companylistIPage.pages},current=${session.companylistIPage.current}">
										<li class="prev" th:if="${current != 1}">
											<a href="#"
											   th:href="'/company/searchcompanylist/' + ${session.companylistIPage.current - 1} + '/' + ${session.companylistIPage.size}">
												<i class="fa fa-arrow-left"></i></a></li>
										<li th:if="${pages<10}" th:each="i:${#numbers.sequence(1,pages)}">
											<a th:if="${session.companylistIPage.current != i}"
											   th:href="'/company/searchcompanylist/' + ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
											<a th:if="${session.companylistIPage.current == i}" class="current-page"
											   th:href="'/company/searchcompanylist/' + ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
										</li>
										<li th:if="${pages>10}"
											th:each="i:${#numbers.sequence(1,3)}">
											<a th:if="${session.companylistIPage.current != i}"
											   th:href="''/company/searchcompanylist/' +${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
											<a th:if="${session.companylistIPage.current == i}" class="current-page"
											   th:href="'/company/searchcompanylist/' +${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
										</li>
										<li th:if="${pages>10 && current == 3}">
											<a
													th:href="'/company/searchcompanylist/' + 4 + '/' + ${session.companylistIPage.size}"
													th:text="4"></a>
										</li>
										<li th:if="${pages>10 && current == 4}">
											<a class="current-page"
											   th:href="'/company/searchcompanylist/' + 4 + '/' + ${session.companylistIPage.size}"
											   th:text="4"></a>
										</li>
										<li th:if="${pages>10 && current == 4}">
											<a
													th:href="'/company/searchcompanylist/' + 5 + '/' + ${session.companylistIPage.size}"
													th:text="5"></a>
										</li>
										<li th:if="${pages>10}">
											...
										</li>
										<li th:if="${pages>10  && current >= 5 && pages - current >= 4}"
											th:each="i:${#numbers.sequence(current - 1,current + 1)}">
											<a th:if="${session.companylistIPage.current != i}"
											   th:href="'/company/searchcompanylist/'+ ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
											<a th:if="${session.companylistIPage.current == i}" class="current-page"
											   th:href="'/company/searchcompanylist/' + ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
										</li>
										<li th:if="${pages>10  && current >= 5 && pages - current >= 5}">
											...
										</li>
										<li th:if="${pages>10 &&  pages - current == 3}">
											<a
													th:href="'/company/searchcompanylist/'+ ${current - 1} + '/' + ${session.companylistIPage.size}"
													th:text="${current - 1}"></a>
										</li>
										<li th:if="${pages>10 &&  pages - current == 3}">

											<a class="current-page"
											   th:href="'/company/searchcompanylist/' + ${current} + '/' + ${session.companylistIPage.size}"
											   th:text="${current}"></a>
										</li>
										<li th:if="${pages>10 && pages - current == 2}">
											<a
													th:href="'/company/searchcompanylist/' + ${current - 1} + '/' + ${session.companylistIPage.size}"
													th:text="${current - 1}"></a>
										</li>
										<li th:if="${pages>10}"
											th:each="i:${#numbers.sequence(pages - 2, pages)}">
											<a th:if="${session.companylistIPage.current != i}"
											   th:href="'/company/searchcompanylist/' + ${i}+ '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
											<a th:if="${session.companylistIPage.current == i}" class="current-page"
											   th:href="'/company/searchcompanylist/' + ${i} + '/' + ${session.companylistIPage.size}"
											   th:text="${i}"></a>
										</li>
										<li class="next" th:if="${current != pages}"><a
												th:href="'/company/searchcompanylist/' + ${session.companylistIPage.current + 1}  + '/' + ${session.companylistIPage.size}"
												class="fa fa-arrow-right"></i></a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--End Listing Page Section -->
			<!-- Main Footer -->
			<div th:replace="../templates/fragments/header::bottom"></div>
			<!-- End Main Footer -->
		</div><!-- End Page Wrapper -->
		<script src="static/js/jquery.js" th:src="@{/js/jquery.js}"></script>

		<script type="text/javascript">

			function changecompagepage(current,pagesize){
				var str = '';
				$.ajax({
					type: 'GET',
					url:'/company/getcompanypage',
					dataType:"JSON",
					async:false,
					data:{
						'companycurrent':current,
						'companypagesize':pagesize
					},
					/*									<div = class="company-block-four col-xl-3 col-lg-4 col-md-6 col-sm-12">
										<div class="inner-box">
											<button class="bookmark-btn">
											<span class="flaticon-bookmark"></span>
											</button>
											<span class="company-logo"><img src="" alt=""></span>
											<h4><a href=""></a></h4>
											<ul class="job-info">
												<li><span class="icon flaticon-map-locator"></span></li>
												<li><span class="icon flaticon-briefcase"></span></li>
											</ul>
											<div class="job-type"></div>
										</div>
									</div>*/
					success(data){
						var companylist = data.records;
						for (var i = 0 ; i < companylist.length ; i++){
							str += '<div = class="company-block-four col-xl-3 col-lg-4 col-md-6 col-sm-12">\n' +
									'\t\t\t\t\t\t\t\t\t\t<div class="inner-box">\n' +
									'\t\t\t\t\t\t\t\t\t\t\t<button class="bookmark-btn">\n' +
									'\t\t\t\t\t\t\t\t\t\t\t<span class="flaticon-bookmark"></span>\n' +
									'\t\t\t\t\t\t\t\t\t\t\t</button>\n' +
									'\t\t\t\t\t\t\t\t\t\t\t<span class="company-logo"><img src="';
							str += companylist[i].company_picture;
							str += '" alt=""></span>\n' +
									'\t\t\t\t\t\t\t\t\t\t\t<h4><a href="/company/company_detail/';
							str += companylist[i].company_id;
							str += '">';
							str += companylist[i].company_name;
							str += '</a></h4>\n' +
									'\t\t\t\t\t\t\t\t\t\t\t<ul class="job-info">\n' +
									'\t\t\t\t\t\t\t\t\t\t\t\t<li><span class="icon flaticon-map-locator"></span>';
							str += companylist[i].company_location;
							str += '</li>\n' +
									'\t\t\t\t\t\t\t\t\t\t\t\t<li><span class="icon flaticon-briefcase"></span>';
							str += companylist[i].company_number;
							str += '</li>\n' +
									'\t\t\t\t\t\t\t\t\t\t\t</ul>\n' +
									'\t\t\t\t\t\t\t\t\t\t\t<div class="job-type">';
							str += companylist[i].company_jobs;
							str += '个招聘岗位';
							str += '</div>\n' +
									'\t\t\t\t\t\t\t\t\t\t</div>\n' +
									'\t\t\t\t\t\t\t\t\t</div>';
						}
						var showpagedata = '<div class="text">展示<strong>'+data.total+'</strong>家公司的 <strong>'+(data.current - 1) * data.size + 1 +' - '+ data.current * data.size+'</strong>家</div>';
						$("#showpagedata").html(showpagedata);
					}
				})
				return str;
			}

			$("#changecompanypagesize").change(function () {
				var changecompanylistpagesize = $("#changecompanypagesize").val();
				var companypagecurrent = $("#companypagecurrent").val();
				var issearch = $("#issearch").val();
				if (issearch == "0"){
					window.location.href="/company/companylist/"+companypagecurrent+"/"+changecompanylistpagesize;
				}else {
					window.location.href="/company/searchcompanylist/"+companypagecurrent+"/"+changecompanylistpagesize;
				}
			})
		</script>


		<script src="static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
		<script src="static/js/chosen.min.js" th:src="@{/js/chosen.min.js}"></script>
		<script src="static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="static/js/jquery.fancybox.js" th:src="@{/js/jquery.fancybox.js}"></script>
		<script src="static/js/jquery.modal.min.js" th:src="@{/js/jquery.modal.min.js}"></script>
		<script src="static/js/mmenu.polyfills.js" th:src="@{/js/mmenu.polyfills.js}"></script>
		<script src="static/js/mmenu.js" th:src="@{/js/mmenu.js}"></script>
		<script src="static/js/appear.js" th:src="@{/js/appear.js}"></script>
		<script src="static/js/anm.min.js" th:src="@{/js/anm.min.js}"></script>
		<script src="static/js/owl.js" th:src="@{/js/owl.js}"></script>
		<script src="static/js/wow.js" th:src="@{/js/wow.js}"></script>
		<script src="static/js/script.js" th:src="@{/js/script.js}"></script>
	</body>
</html>
