<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"><title>湖北经济学院信息与通信工程学院软件Q1842杨开</title>
    <script src="static/js/html5shiv.js" th:src="@{/js/html5shiv.js}" ></script>
    <script src="static/static/js/respond.js" th:src="@{/js/respond.js}"></script>

    <script src="static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <link href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet">
    <link href="static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style type="text/css">
        html,body,div,section{margin:0;padding:0;}
        .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
        .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
</head>

<body>
<div class="page-wrapper">

    <!-- Preloader -->
    <div th:replace="../templates/fragments/header::dashboard-top"></div>


<!--
    <section class="map-section">
        &lt;!&ndash;百度地图容器&ndash;&gt;
        <div style="width:697px;height:550px;border:#ccc solid 1px;" id="dituContent"></div>
    </section>

    -->

    <!-- Map Section -->
    <section class="map-section">
        <div class="map-outer">
            <div class="map-canvas" data-zoom="12" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato" data-icon-path="images/icons/contact-map-marker.png" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
            </div>
        </div>
    </section>
    <!-- End Map Section -->

    <!-- Contact Section -->
    <section class="contact-section">
        <div class="auto-container">
            <div class="upper-box">
                <div class="row">
                    <div class="contact-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <span class="icon"><img th:src="@{/image/placeholder.svg}" alt=""></span>
                            <h4>Address</h4>
                            <p>329 Queensberry Street, North<br> Melbourne VIC 3051, Australia.</p>
                        </div>
                    </div>
                    <div class="contact-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <span class="icon"><img th:src="@{/image/smartphone.svg}" alt=""></span>
                            <h4>Call Us</h4>
                            <p><a href="#" class="phone">123 456 7890</a></p>
                        </div>
                    </div>
                    <div class="contact-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <span class="icon"><img th:src="@{/image/letter.svg}" alt=""></span>
                            <h4>Email</h4>
                            <p><a href="#">contact.london@example.com</a></p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Contact Form -->
            <div class="contact-form default-form">
                <h3>Leave A Message</h3>
                <!--Contact Form-->
                <form method="post" action="#" id="email-form">
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="response"></div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label>Your Name</label>
                            <input type="text" name="username" class="username" placeholder="Your Name*" required>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                            <label>Your Email</label>
                            <input type="email" name="email" class="email" placeholder="Your Email*" required>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label>Subject</label>
                            <input type="text" name="subject" class="subject" placeholder="Subject *" required>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <label>Your Message</label>
                            <textarea name="message" placeholder="Write your message..." required=""></textarea>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                            <button class="theme-btn btn-style-one" type="button" id="submit" name="submit-form">Send Massage</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--End Contact Form -->
        </div>
    </section>
    <!-- Contact Section -->

    <!-- Call To Action -->
    <section class="call-to-action style-two">
        <div class="auto-container">
            <div class="outer-box">
                <div class="content-column">
                    <div class="sec-title">
                        <h2>招聘？</h2>
                        <div class="text">采用最合适的方式找到工作<br>专为开发者</div>
                        <a th:href="@{/home/index}" class="theme-btn btn-style-one bg-blue"><span class="btn-title">现在开始找工作！！</span></a>
                    </div>
                </div>

                <div class="image-column" style="background-image: url(/image/image-1.png);">
                    <figure class="image"><img src="image/image-1.png" alt=""></figure>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call To Action -->
</div><!-- End Page Wrapper -->
</body>
<!--引用百度地图API-->
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(114.442721,30.42425);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{title:"湖北经济学院北大门",content:"湖北经济学院北大门",point:"114.438382|30.426305",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor:"#808080",
                color:"#333",
                cursor:"pointer"
            });

            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }

    initMap();//创建和初始化地图
</script>

<script src="static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="static/js/chosen.min.js" th:src="@{/js/chosen.min.js}"></script>
<script src="static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="static/js/jquery.fancybox.js" th:src="@{/js/jquery.fancybox.js}"></script>
<script src="static/js/jquery.modal.min.js" th:src="@{/js/jquery.modal.min.js}"></script>
<script src="static/js/mmenu.polyfills.js" th:src="@{/js/mmenu.polyfills.js}"></script>
<script src="static/js/mmenu.js" th:src="@{/js/mmenu.js}"></script>
<script src="static/js/appear.js" th:src="@{/js/appear.js}"></script>
<script src="static/js/anm.min.js" th:src="@{/js/anm.min.js}"></script>
<script src="static/js/owl.js" th:src="@{/js/owl.js}"></script>
<script src="static/js/wow.js" th:src="@{/js/wow.js}"></script>
<!--    <script src="static/js/knob.js" th:src="@{/js/knob.js}"></script>-->
<script src="static/js/script.js" th:src="@{/js/script.js}"></script>
</body>

</html>