<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"><title>湖北经济学院信息与通信工程学院软件Q1842杨开</title>
    <script src="static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="static/layer/layer.js" th:src="@{/layer/layer.js}"></script>
    <script src="static/js/html5shiv.js" th:src="@{/js/html5shiv.js}" ></script>
    <script src="static/static/js/respond.js" th:src="@{/js/respond.js}"></script>
    <link href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
</head>

<body>
<div class="page-wrapper dashboard ">

    <!-- Main Header-->
    <div th:replace="../templates/fragments/header::dashboard-top"></div>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div th:replace="../templates/fragments/header::sidebar"></div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>公司简介</h3>
                <div class="text">The Easiest Way to Post A New Job For You</div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <div class="ls-widget">

                        <div class="tabs-box">

                            <div class="widget-title">
                                <h4>公司简介</h4>
                            </div>
                            <div class="widget-content">
                            <form id="form1" th:object="${session.curcompany}" class="default-form" onsubmit="return Getinformation() " >
                                <div class="row">
                                <div class="uploading-outer">
                                    <div class="uploadButton">
                                        <input class="uploadButton-input" type="file" name="uploadcompanypicture" accept="image/*, application/pdf" id="upload-company-picture" multiple />
                                        <label for="upload-company-picture">
                                            <img th:if="*{company_picture != null}" th:src="*{company_picture}" style="height: 150px;margin-left: 50px" id="imgshow">
                                            <!--<img th:if="${*{company_picture} != null && #strings.length(*{company_picture}) < 100}" th:src="@{'/upload/'+${session.curcompany.company_picture}}" style="height: 150px;margin-left: 50px" id="imgshow">-->
                                            <img th:if="*{company_picture == null}" th:src="@{/picture/company-6.png}" style="height: 150px;margin-left: 50px" id="imgshow">
                                            <span class="uploadButton-file-name"></span>
                                        </label>
                                    </div><!---->
                                    <div class="text">公司logo，最大文件大小为1MB，最小尺寸为330x300，并提供合适的文件如.jpg&.png</div>
                                </div>
                                        <!--userid-->
                                        <input type="hidden" name="company_id" th:value="*{company_id}">
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>公司名称</label>
                                            <input type="text" id="company_name" th:value="*{company_name}" name="company_name" required="required" >
                                        </div>

                                        <!-- 公司位置 -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>公司位置</label>
                                            <input type="text" id="company_location" name="company_location" th:value="*{company_location}" >
                                        </div>

                                        <!-- 公司规模 -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>公司规模</label>
                                            <input type="text" id="company_number" name="company_number" th:value="*{company_number}" >
                                        </div>

                                        <!-- 公司法人代表 -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>公司法人代表</label>
                                            <input type="text" id="company_represent" name="company_represent" th:value="*{company_represent}" >
                                        </div>

                                        <!-- 成立日期 -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>成立日期</label><br>
                                            <input style="font-size: x-large;" id="company_date" type="date"  name="company_date" th:value="*{company_date}"  >
                                        </div>

                                        <!-- 公司介绍-->
                                        <div class="form-group col-lg-12 col-md-12" >
                                            <label>公司介绍</label>
                                            <textarea id="company_introduction" name="company_introduction" placeholder=
                                                    "请在此处写下公司的相关介绍，如公司理念，公司经营模式，公司发展发展方向" th:text="*{company_introduction}"
                                            ></textarea>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <button id="save1" class="theme-btn btn-style-one" >保存</button>
                                        </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 HBUE. All Right Reserved.</p>
    </div>

</div><!-- End Page Wrapper -->

<script type="text/javascript">

    $('#upload-company-picture').change(function () {
        // 先获取用户上传的文件对象
        let fileObj = this.files[0];
        // 生成一个文件读取的内置对象
        let fileReader = new FileReader();
        // 将文件对象传递给内置对象
        fileReader.readAsDataURL(fileObj); //这是一个异步执行的过程，所以需要onload回调函数执行读取数据后的操作
        // 将读取出文件对象替换到img标签
        fileReader.onload = function () {  // 等待文件阅读器读取完毕再渲染图片
            $("#imgbox").hide();
            $('#imgshow').attr('src', fileReader.result)
        }
    });


    function Getinformation(){
        var formData = new FormData(document.getElementById("form1"));
        formData.append("file", $("#upload-company-picture").get(0).files[0]);
        console.log("formData:"+formData);
        $.ajax({
            type:'POST',
            url:'companypictureupload',
            async: true,
            contentType: false, // 告诉jQuery不要去设置Content-Type请求头
            processData: false, // 告诉jQuery不要去处理发送的数据
            data:formData,
            dataType: "JSON",
            success(data){
                console.log('data:'+data)
                if (data == '-1'){
                    layer.msg("头像保存失败",{
                        time:500,
                    })
                }else if (data == '0'){
                    layer.msg("公司信息保存成功！",{
                        time:500,
                    })
                }
            },
            error(data){
                console.log('data:'+(data))
                layer.msg("公司信息保存失败！",{
                    time:500
                })
            }
        })
        return false;
    }
</script>



<script src="static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="static/js/chosen.min.js" th:src="@{/js/chosen.min.js}"></script>
<script src="static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="static/js/jquery.fancybox.js" th:src="@{/js/jquery.fancybox.js}"></script>
<script src="static/js/jquery.modal.min.js" th:src="@{/js/jquery.modal.min.js}"></script>
<script src="static/js/mmenu.polyfills.js" th:src="@{/js/mmenu.polyfills.js}"></script>
<script src="static/js/mmenu.js" th:src="@{/js/mmenu.js}"></script>
<script src="static/js/appear.js" th:src="@{/js/appear.js}"></script>
<script src="static/js/ScrollMagic.min.js" th:src="@{/js/ScrollMagic.min.js}"></script>
<script src="static/js/rellax.min.js" th:src="@{/js/rellax.min.js}"></script>
<script src="static/js/owl.js" th:src="@{/js/owl.js}"></script>
<script src="static/js/wow.js" th:src="@{/js/wow.js}"></script>
<script src="static/js/knob.js" th:src="@{/js/knob.js}"></script>
<script src="static/js/script.js" th:src="@{/js/script.js}"></script>
</body>

</html>