<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"><title>湖北经济学院信息与通信工程学院软件Q1842杨开</title>
    <script src="static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="static/layer/layer.js" th:src="@{/layer/layer.js}"></script>
    <script src="static/js/html5shiv.js" th:src="@{/js/html5shiv.js}" ></script>
    <script src="static/static/js/respond.js" th:src="@{/js/respond.js}"></script>
    <link href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet">
    <link rel="shortcut icon" href="static/picture/favicon.png" th:href="@{/picture/favicon.png}" type="image/x-icon"><!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
</head>

<body>

<div class="page-wrapper dashboard ">

    <!-- Main Header-->
    <div th:replace="../templates/fragments/header::dashboard-top"></div>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div th:replace="../templates/fragments/header::sidebar"></div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>管理工作</h3>
                <div class="text">在此处进行工作的修改和删除</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>我发布的工作列表</h4>
                            </div>

                            <div class="widget-content">
                                <div class="table-outer">
                                    <table class="default-table manage-job-table">
                                        <thead>
                                        <tr>
                                            <th>岗位名称</th>
                                            <th>学历要求</th>
                                            <th>工作年限</th>
                                            <th>薪资</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="job,jobindex:${session.managejobpage.records}" th:id="jobinfromatiob+(${job.job_id})">
                                            <td>
                                                <h6 th:text="${job.job_name}"></h6>
                                                <span class="info"><i class="icon flaticon-map-locator"></i>  &nbsp; &nbsp;[[*{job.job_city}]]</span>
                                            </td>
                                            <td class="applied" th:text="${job.job_education}"></td>
                                            <td th:text="${job.job_work_years}"></td>
                                            <td class="status" th:text="'￥' + ${job.job_money_low} + ' - ' + ${job.job_money_high} + 'K'"></td>
                                            <td>
                                                <div class="option-box">
                                                    <ul class="option-list">
                                                        <li><button data-text="修改职位信息"><a th:href="@{'/company/dashboard-reset-job/' + ${job.job_id}}"><span class="la la-pencil"></span></a></button></li>
                                                        <li><button data-text="删除职位信息" th:onclick="|deletejob(${job.job_id})|" th:value="${job.job_id}"><span class="la la-trash"></span></button></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2021 Superio. All Right Reserved.</p>
    </div>

</div><!-- End Page Wrapper -->
</body>

<script type="text/javascript">
    function deletejob(event) {
        console.log(event);
        var deleteid = event;
        $.ajax({
            type:'Get',
            url:'/job/deletejob',
            async: true,
            cache:false,
            data:{
                'job_id':deleteid
            },
            dataType: "JSON",
            success(data) {
                layer.msg("删除岗位成功！！!",{
                    time:1500,
                })
                $("#jobinfromatiob"+deleteid).hide();
            },
            error(data){
                layer.msg("删除岗位失败！！!",{
                    time:1500,
                })
            }
        })
    }
</script>


<script src="static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="static/js/chosen.min.js" th:src="@{/js/chosen.min.js}"></script>
<script src="static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="static/js/jquery.fancybox.js" th:src="@{/js/jquery.fancybox.js}"></script>
<script src="static/js/jquery.modal.min.js" th:src="@{/js/jquery.modal.min.js}"></script>
<script src="static/js/mmenu.polyfills.js" th:src="@{/js/mmenu.polyfills.js}"></script>
<script src="static/js/mmenu.js" th:src="@{/js/mmenu.js}"></script>
<script src="static/js/appear.js" th:src="@{/js/appear.js}"></script>
<script src="static/js/ScrollMagic.min.js" th:src="@{/js/ScrollMagic.min.js}"></script>
<script src="static/js/rellax.min.js" th:src="@{/js/rellax.min.js}"></script>
<script src="static/js/owl.js" th:src="@{/js/owl.js}"></script>
<script src="static/js/wow.js" th:src="@{/js/wow.js}"></script>
<script src="static/js/knob.js" th:src="@{/js/knob.js}"></script>
<script src="static/js/script.js" th:src="@{/js/script.js}"></script>
</body>

</html>