<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"><title>湖北经济学院信息与通信工程学院软件Q1842杨开</title>
    <script src="static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="static/layer/layer.js" th:src="@{/layer/layer.js}"></script>
    <script src="static/js/html5shiv.js" th:src="@{/js/html5shiv.js}" ></script>
    <script src="static/static/js/respond.js" th:src="@{/js/respond.js}"></script>
    <link href="static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
</head>

<body>

<div class="page-wrapper dashboard ">
    &lt;!&ndash; Main Header&ndash;&gt;
    <div th:replace="../templates/fragments/header::dashboard-top"></div>
    &lt;!&ndash;End Main Header &ndash;&gt;

    &lt;!&ndash; Sidebar Backdrop &ndash;&gt;
    <div class="sidebar-backdrop"></div>

    &lt;!&ndash; User Sidebar &ndash;&gt;
    <div th:replace="../templates/fragments/header::sidebar"></div>
    &lt;!&ndash; End User Sidebar &ndash;&gt;

    &lt;!&ndash; Dashboard &ndash;&gt;
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>所有申请者</h3>
                <div class="text">此页面展示的是所有申请该公司的申请者</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    &lt;!&ndash; Ls widget &ndash;&gt;
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>申请者</h4>

                                <div class="chosen-outer">
                                    &lt;!&ndash;Tabs Box&ndash;&gt;
                                    <select class="chosen-select">
                                        <option>12个/页</option>
                                        <option>16个/页</option>
                                        <option>20个/页</option>
                                        <option>24个/页</option>
                                    </select>

                                    &lt;!&ndash;Tabs Box&ndash;&gt;
                                    <select class="chosen-select">
                                        <option>不限</option>
                                        <option>一个月之内</option>
                                        <option>三个月之内</option>
                                        <option>半年之内</option>
                                        <option>一年之内</option>
                                    </select>
                                </div>
                            </div>

                            <div class="widget-content">

                                <div class="tabs-box">
                                    <div class="aplicants-upper-bar">
                                        <h6></h6>
                                        <ul class="aplicantion-status tab-buttons clearfix">
                                            <li class="tab-btn active-btn totals" data-tab="#totals">总共: 2</li>
                                            <li class="tab-btn approved" data-tab="#approved">通过: 1</li>
                                            <li class="tab-btn rejected" data-tab="#rejected">拒绝: 1</li>
                                        </ul>
                                    </div>

                                    <div class="tabs-content">
                                        &lt;!&ndash;Tab&ndash;&gt;
                                        <div class="tab active-tab" id="totals">
                                            <div class="row">
                                                &lt;!&ndash; Candidate block three &ndash;&gt;
                                                <div th:each="userandjobs:${session.allapplocants}" class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <figure class="image"><img th:src="@{'/upload/'+${userandjobs.user.user_picture}}" alt=""></figure>
                                                            <h4 class="name"><a th:text="${userandjobs.user.user_name}" th:href="@{'/company/candidate-detail/'}"></a></h4>
                                                            <ul class="candidate-info">
                                                                <li class="designation" th:text="${userandjobs.user.user_expect_type}"></li>
                                                                <li><span class="icon flaticon-map-locator"></span> [[${userandjobs.user.user_expect_place}]]</li>
                                                                <li><span class="icon flaticon-money"></span> [[${userandjobs.user.user_expect_salary}]]</li>
                                                            </ul>
                                                            <ul th:each="job:${userandjobs.jobList}"  class="post-tags">
                                                                <li ><a th:href="@{'/company/company-job-resume-detail/' + ${job.job_id}}" th:text="${job.job_name}"></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="option-box">
                                                            <ul class="option-list">
                                                                <li><button data-text="查看申请者"><span class="la la-eye"></span></button></li>
                                                                <li><button data-text="删除"><span class="la la-check"></span></button></li>
                                                                <li><button data-text="Reject Aplication"><span class="la la-times-circle"></span></button></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        &lt;!&ndash;Tab&ndash;&gt;
                                        <div class="tab" id="approved">
                                            <div class="row">
                                                &lt;!&ndash; Candidate block three &ndash;&gt;
                                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <h4 class="name"><a href="#">Darlene Robertson</a></h4>
                                                            <ul class="candidate-info">
                                                                <li class="designation">UI Designer</li>
                                                                <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                                                <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                                            </ul>
                                                            <ul class="post-tags">
                                                                <li><a href="#">App</a></li>
                                                                <li><a href="#">Design</a></li>
                                                                <li><a href="#">Digital</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="option-box">
                                                            <ul class="option-list">
                                                                <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                                                                <li><button data-text="Approve Aplication"><span class="la la-check"></span></button></li>
                                                                <li><button data-text="Reject Aplication"><span class="la la-times-circle"></span></button></li>
                                                                <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        &lt;!&ndash;Tab&ndash;&gt;
                                        <div class="tab" id="rejected">
                                            <div class="row">
                                                &lt;!&ndash; Candidate block three &ndash;&gt;
                                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <h4 class="name"><a href="#">Leslie Alexander</a></h4>
                                                            <ul class="candidate-info">
                                                                <li class="designation">UI Designer</li>
                                                                <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                                                <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                                            </ul>
                                                            <ul class="post-tags">
                                                                <li><a href="#">App</a></li>
                                                                <li><a href="#">Design</a></li>
                                                                <li><a href="#">Digital</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="option-box">
                                                            <ul class="option-list">
                                                                <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                                                                <li><button data-text="Approve Aplication"><span class="la la-check"></span></button></li>
                                                                <li><button data-text="Reject Aplication"><span class="la la-times-circle"></span></button></li>
                                                                <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    &lt;!&ndash; End Dashboard &ndash;&gt;

    &lt;!&ndash; Copyright &ndash;&gt;
    <div class="copyright-text">
        <p>© 2022 HBuer. All Right Reserved.</p>
    </div>

</div>&lt;!&ndash; End Page Wrapper &ndash;&gt;


<script src="static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="static/js/chosen.min.js" th:src="@{/js/chosen.min.js}"></script>
<script src="static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="static/js/jquery.fancybox.js" th:src="@{/js/jquery.fancybox.js}"></script>
<script src="static/js/jquery.modal.min.js" th:src="@{/js/jquery.modal.min.js}"></script>
<script src="static/js/mmenu.polyfills.js" th:src="@{/js/mmenu.polyfills.js}"></script>
<script src="static/js/mmenu.js" th:src="@{/js/mmenu.js}"></script>
<script src="static/js/appear.js" th:src="@{/js/appear.js}"></script>
<script src="static/js/ScrollMagic.min.js" th:src="@{/js/ScrollMagic.min.js}"></script>
<script src="static/js/rellax.min.js" th:src="@{/js/rellax.min.js}"></script>
<script src="static/js/owl.js" th:src="@{/js/owl.js}"></script>
<script src="static/js/wow.js" th:src="@{/js/wow.js}"></script>
<script src="static/js/knob.js" th:src="@{/js/knob.js}"></script>
<script src="static/js/script.js" th:src="@{/js/script.js}"></script>
</body>

</html>-->
